.name {
    /*background-color: #eeeeee;*/
    /*padding: 10px;*/
    padding-left: 10px;
    margin: 5px;
    /*text-align: center;*/
}

.content1 {
    padding: 10pt;
    border-right: solid 1px;
    border-color: #dcdcdc;
}

.content2 {
    padding: 10pt;
}

header {
    padding: 10px 10px;
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    color: #0000bb;
    z-index: 1;
    top: 0;
    left: 0;
}

.header-right {
    float: right;
}

.researcher {
    padding: auto;
}

.header-left {
    float: left;
}

.background_img {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 25pt;
}

h2 {
    font-size: 20pt;
    background-color: #dddddd;
}

h3 {
    font-size: 17pt;
}
